@import '~components/_mixins/transition';

.productsItem{
  width: auto;
  display: flex;
  justify-content: center;

  &--lastInRow{
    border-right: none;
  }

  &__content{
    width: 100%;
    max-width: 400px;
    position: relative;
  }

  &__background{
    width: 100%;
    height: 250px;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    @include transitionFull(all 1.3s ease);
  }

  &:hover &__background{
    background-size: contain;
  }

  &__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    color: #222;
    background: rgba(255, 255, 255, 0.9);
    // opacity: 0;
    // visibility: hidden;
    @include transitionFull(all 0.3s ease);
  }

  &:hover &__info{
    // opacity: 1;
    // visibility: visible;
  }

  &__brand{
    font-size: 14px;
    line-height: 20px;
  }

  &__price{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
  }
}