@import '~components/_mixins/transition';

.menu{
  
  &__list{
    display: flex;
    justify-content: center;
  }

  &__item{
    display: flex;
  }

  &__link{
    align-self: center;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    padding: 0 15px;
    @include transition(all);

    &:hover{
      background: rgba(255, 255, 255, 0.15);
    }
    &:active{
      background: rgba(255, 255, 255, 0.4);
    }
  }

  &--topImage{
    background: #222;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &--footer &__list{
    justify-content: center;
  }

  &--footer &__link{
    color: #333;
  }

  &--topMenu &__list{
    width: 100%;
    flex-direction: column;
  }

  &--topMenu &__link{
    color: #000;
    padding: 0 15px;
    line-height: 50px;
    height: 50px;
    border-left: 15px solid blue;
    display: block;
    width: 100%;
    transition: none;
    // background: url(./images/bg.png);
    // background-position: 50% 50%;

    &:hover{
      background: #F7F7F7;
    }

    &:active{
      background: #E0E0E0;
    }

    &--current{
      background: rgb(169, 0, 255);
      color: #fff;
    }

  }

}