@import '~components/_mixins/transition';

.menu{
  
  &__list{
    display: flex;
  }

  &__item{
    display: flex;
  }

  &__link{
    align-self: center;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    padding: 0 15px;
    @include transition(all);

    &:hover{
      background: rgba(255, 255, 255, 0.15);
    }
    &:active{
      background: rgba(255, 255, 255, 0.4);
    }
  }

  &--topImage{
    background: #222;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &--footer &__list{
    justify-content: center;
  }

  &--footer &__link{
    color: #333;
  }

  &--topMenu &__list{
    width: 100%;
    flex-direction: column;
  }

  &--topMenu &__link{
    color: #000;
  }

}