/* global styles */

@import 'reset-css/reset.css';

@import './fonts/index';
@import './typography';
@import './links';

*{
  box-sizing: border-box;
}

body{
  position: relative;
  font-family: 'Tahoma';

  h1 {

  }

  h2 {
    
  }

  img {
    width: 100%;
  }
}
