@import '~components/_mixins/transition';

.topMenu{
  position: absolute;
  z-index: 10;
  top: 25px;
  left: 25px;

  &__trigger{
    width: 50px;
    height: 50px;
    z-index: 15;
    cursor: pointer;
    background: url(./images/bars.svg);
    background-position: 0 50%;
  }

  &__triggerInContent{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 15;
    background-color: grey;
    cursor: pointer;
    top: 0;
    right: -50px;
    opacity: 0;
    background: url(./images/close.svg);
    @include transition(opacity); 
  }

  &__trigger, &__triggerInContent{
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &__content{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    background-color: #fff;
    transform: translate3d(-280px, 0, 0);
    @include transitionCubicBezier(all 0.5s);
  }

  &--open &__content{
    transform: translate3d(0, 0, 0);
  }

  &--open &__triggerInContent{
    opacity: 1;
  }

  &__list{

  }

  &__link{
    display: block;
    line-height: 50px;
    height: 50px;
    padding: 0 15px;

    &--current{
      background: rgb(169, 0, 255);
      color: #fff;
    }

    &:hover{
      background: #eee;
    }

    &:active{
      background: #E0E0E0;
    }
    
  }

  &__menu{
  }
}

@import './index.hd'